
/* Main */
.chapter__one {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.base__info {
  margin-bottom: 50px;
}

.container .shop__list {
  text-align: center;
}

.shop__list {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 350px 350px;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 30px;
  align-items: center;
  width: 750px;
  height: 450px;
  overflow-y: scroll;
  margin-bottom: 50px;
}

.shop__img {
  width: 300px;
}

.shop__title,
.shop__price {
  font-size: 20px;
  font-weight: 700;
}

.ksdk {
  text-align: center;
  padding: 7px;
  margin-bottom: 20px;
}

.ksdk__title {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 25px;
}

.ksdk__image {
  width: 250px;
}

.ksdk__description {
  margin-bottom: 20px;
}

.ksdk__sertificates {
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 0, .5);
}

.ksdk__sertificate {
  width: 250px;
  text-align: center;
}

.sertificate__title {
  font-size: 18px;
  font-weight: 700;
  border-bottom: 2px solid rgba(0, 0, 0, .5);
  margin-bottom: 15px;
}

/* Media */
@media (max-width: 1024px) {
  /* Main */
  .ksdk__image {
    width: 230px;
  }
}

@media (max-width: 912px) {
  /* Main */
  .ksdk__image {
    width: 210px;
  }
}

@media (max-width: 820px) {
  /* Main */
  .ksdk__image {
    width: 185px;
  }
}

@media (max-width: 770px) {
  /* Main */
  body p, 
  .ksdk__description {
    font-size: 14px;
  }

  .chapter__one,
  .sertificate__title {
    font-size: 16px;
  }

  .shop__list {
    grid-template-columns: 250px 150px;
    width: 410px;
    height: 300px;
    grid-gap: 10px;
  }

  .shop__img {
    width: 200px;
  }

  .ksdk__image {
    width: 150px;
  }

  .ksdk__sertificate {
    width: 150px;
  }
}

@media (max-width: 670px) {
  .worklist {
    white-space: pre-line;
  }
}

@media (max-width: 540px) {
  /* Main */
  .ksdk__image {
    width: 165px;
  }
}

@media (max-width: 440px) {
  body p,
  .ksdk__description {
    text-align: center;
  }

  /* Main */
  .shop__list {
    grid-template-columns: 160px 100px;
    width: 270px;
    height: 260px;
  }

  .shop__item,
  .shop__img {
    width: 150px;
  }
}
