/* Main */
.introduction {
  margin-bottom: 50px;
}

.info {
  margin-bottom: 50px;
}

.info div {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.qroisk img {
  max-width: 200px;
  max-height: 200px;
}

.logo__img {
  display: flex;
}

.logo__img img {
  width: 200px;
  margin: 0 auto;
}

.sertificate {
  text-align: center;
  margin-top: 20px;
}

.sertificate__title {
  font-size: 17px;
  font-weight: 700;
}

.image__sertificate {
  width: 300px;
}

/* Media */
@media (max-width: 980px) {
  /* Main */
  .info {
    text-align: center;
  }
}

@media (max-width: 650px) {
  /* Main */
  .introduction {
    text-align: center;
  }

  .qroisk img {
    width: 150px;
  }

  .info__inner h3 {
    font-size: 14px;
  }

  .sertificate__title {
    font-size: 14px;
  }

  .image__sertificate {
    width: 250px;
  }
}